[2018-07-23 15:23] elfring opened #2 "Completion of error handling"
Would you like to add more error handling for return values from functions like the following?
- [calloc](http://pubs.opengroup.org/onlinepubs/9699919799/functions/calloc.html "Memory allocation") ⇒ [url_append](https://github.com/fangfufu/httpdirfs/blob/be06db5fe4cecd14c4e937e110e8f3755bc17b67/network.c#L81)
- [strndup](http://pubs.opengroup.org/onlinepubs/9699919799/functions/strndup.html "Dupli

[2018-07-23 15:35] elfring commented on #2
I suggest to avoid [ignorance of return values](https://cwe.mitre.org/data/definitions/252.html "Checking more return values") a bit more.
Would you like to detect every error situation as early as possible?

[2018-07-23 15:40] fangfufu commented on #2
Well, if there is nothing I can do for the error, then I might as well ignore it. It is too much effort for this non-security-critical program.

[2018-07-23 15:47] elfring commented on #2
I suggest to care more for [secure programming concerns](https://en.wikipedia.org/wiki/List_of_tools_for_static_code_analysis#C.2C_C.2B.2B "Tools for code analysis") so that a more robust file system implementation could be achieved.

[2018-07-23 15:49] fangfufu commented on #2
Thanks for the suggestion. I will have a look in the future.
You are welcome to submit a pull request to patch it though.

[2018-07-23 18:16] RazeLighter777 opened #4 "Adding support for password protected directories?"
It seems like it would be very easy to add. Curl already has support for username and passwords. (See  [here](https://stackoverflow.com/questions/2594880/using-curl-with-a-username-and-password#2594908))

This would add a lot of flexibility for people who want to mount a directory securely, and would be a great addition to the project.

[2018-07-23 18:19] fangfufu commented on #4
Have you tried the username:password@url trick yet? e.g. http://username:password@localhost
I don't understand how to use FUSE to parse arguments.

[2018-07-23 18:23] RazeLighter777 commented on #4
That will work, but perhaps it would be better if you could pass it as a command line argument like here:

`./httpdirfs -f -u username -p password $URL $YOUR_MOUNT_POINT`

This option could be easily implemented by just adding whatever the options say to the end of the url like you have it above. Wouldn't even have to mess with fuse or curl.

[2018-07-23 20:04] RazeLighter777 commented on #4
I'm working on a simple patch now.

[2018-07-23 21:19] fangfufu commented on #4
Thanks for being so helpful! :)

[2018-07-23 21:38] fangfufu commented on #2
@elfring , I have added the error handling code.

[2018-07-23 23:20] RazeLighter777 commented on #4
Alright. I finished. But I want you to take a look at my branch to make sure everything's OK before I make a push request.

[2018-07-24 01:53] fangfufu commented on #4
Mind you, I might borrow your method to set the nax HTTP connection limit. I switched to curl-multi interface. This is way faster than rclone mount.

[2018-07-24 07:43] elfring commented on #2
* Are you interested to apply [aspect-oriented software development](http://aspectc.org/ "Software development with AspectC++?")?
* How do you think about to encapsulate error detection and corresponding exception handling as [a reusable aspect](https://en.wikipedia.org/wiki/Aspect_%28computer_programming%29 "Combination of a pointcut with advice") in your software?

[2018-07-24 07:53] elfring commented on #2
[The error detection and exception handling is still incomplete](https://github.com/fangfufu/httpdirfs/blob/5a50842440331396f6641c4e464dcc2912156e9d/network.c#L207 "Update candidate: network_init()").

[2018-07-24 08:02] elfring opened #5 "Addition of a build system generator"
I suggest to reuse a higher level build system than [your current small make script](https://github.com/fangfufu/httpdirfs/blob/50b5c1ed3de75d0fcc24ae3a858736cee3eabe58/Makefile#L1 "Update candidate") so that powerful checks for software features will become easier.
- [CMake](https://cmake.org/ "Building software with CMake")
- [Autotools](https://www.gnu.org/software/autoconf/autoconf.html#introd

[2018-07-24 11:58] fangfufu commented on #2
It would b great if you can help me to solve the thread safety problem associated with using FUSE and curl multi interface. Running multithreaded FUSE interferes with libcurl.

[2018-07-24 12:04] fangfufu commented on #5
I have used CMake before, not autotools. Considering I am only linking in 3 libraries, I don't think this is necessary.

[2018-07-24 12:05] fangfufu commented on #2
How about now? What would you do if it was aspect oriented programming?

[2018-07-24 12:32] elfring commented on #2
* How do you think about to improve [static source code analysis](https://en.wikipedia.org/wiki/List_of_tools_for_static_code_analysis#C.2C_C.2B.2B "Tools for code analysis") also for this software?
* Aspect-oriented programming could help to [care for cross-cutting concerns](https://en.wikipedia.org/wiki/Cross-cutting_concern#Examples "Description for cross-cutting concerns") like exception handl

[2018-07-24 12:40] elfring commented on #5
- Does [a tool like “autoscan”](https://www.gnu.org/savannah-checkouts/gnu/autoconf/manual/autoconf-2.69/html_node/autoscan-Invocation.html "Using autoscan to create configure.ac") show any software dependencies that you find worth for further considerations?
- How do you think about to support more development environments by [the reuse of build system generators](https://cmake.org/cmake/help/v3.

[2018-07-24 14:53] #2 closed

[2018-07-24 14:53] #5 closed

[2018-07-24 15:05] elfring commented on #5
Do you need any special software build parameters for multi-threading support (for example)?

[2018-07-24 15:05] fangfufu commented on #5
Not really no.

[2018-07-24 15:08] elfring commented on #5
I got an other impression from the usage of the variable “`pthread_curl_lock`”.

[2018-07-24 16:41] fangfufu commented on #2
I am interested in software development with C++ class libraries, yeh. I don't know which projects to contribute to though.

[2018-07-24 16:45] elfring commented on #2
Which classes would you need for the safer development of the discussed file system implementation?

[2018-07-24 16:45] fangfufu commented on #2
Not entirely sure.

[2018-07-24 16:46] scriptzteam opened #6 "[ERROR] ./httpdirfs: error while loading shared libraries: libgumbo.so.1: cannot open shared object file: No such file or directory"
`./httpdirfs: error while loading shared libraries: libgumbo.so.1: cannot open shared object file: No such file or directory`

On ubuntu latest :)

[2018-07-24 16:47] fangfufu commented on #6
Have you tried installing libgumbo1? I am on Debian Stretch. I have no idea what the equivalent is on Ubuntu.

[2018-07-24 16:47] elfring commented on #2
Are you looking for C++ wrappers of the involved function libraries?

[2018-07-24 16:48] fangfufu commented on #2
Why would I want that? The C libraries work fine.

[2018-07-24 16:51] scriptzteam commented on #6
Yep i installed once again, forgot to add "sudo" xD happens and sry, all works now.

Due to non sudo the libs wasnt copied i think...

[2018-07-24 16:51] #6 closed

[2018-07-24 17:00] elfring commented on #2
Software developers (like you) struggle with the challenge to complete the corresponding exception handling, don't they?

[2018-07-24 17:01] fangfufu commented on #2
So who are you? What do you do for a living?

[2018-07-24 17:14] RazeLighter777 commented on #4
Ok. Fixing a bug right now. Might take another hour or two but then it should be good.

[2018-07-24 17:14] fangfufu commented on #4
Awesome man, I fixed all my multithreading issues. I am downloading Debian Live DVD right now to test it. But yeh, this thing is way better than rclone mount, imho.

[2018-07-24 17:24] fangfufu commented on #5
I think libcurl links in the pthread library, that's why I don't need to link to the pthread library myself.

[2018-07-24 17:38] elfring commented on #2
Several of my software development contributions are public. You might find further evolution interesting in these areas.

:crystal_ball: Extending the programming with C++ can help to reduce recurring difficulties with system properties from the C language, can't it?

[2018-07-24 17:51] elfring commented on #5
I find your conclusion questionable.

I guess that you do not need to refer to the Pthread API if you would like to keep this file system implementation only single threaded.

[2018-07-24 17:54] fangfufu commented on #5
libcurl and libfuse spawn their own worker thread. I do not create how they do that.

Have you even tried running this program, might I ask?

[2018-07-24 17:56] elfring commented on #5
I did not try to run this program so far because I noticed open issues in the source code.

[2018-07-24 17:56] RazeLighter777 commented on #4
Ok the bug is fixed. Tell me when you are ready for the pull request.

[2018-07-24 18:00] fangfufu commented on #4
Yeh, send it now. Thanks!

[2018-07-24 19:52] fangfufu commented on #4
@RazeLighter777 , I added some more comments on your pull request - please tell me that you are still following the project! :P

[2018-07-25 10:56] fangfufu opened #8 "Add getopt_long support."
Add the support for this, and pass in a few libcurl option, e.g. password and proxy.
https://linux.die.net/man/3/getopt

[2018-07-25 10:57] fangfufu commented on #4
Superseded under issue #8 .

[2018-07-25 10:57] #4 closed

[2018-07-25 11:00] fangfufu opened #9 "Add permanent caching mode support"
Rather than doing range request, use CURLOPT_RESUME_FROM, and save the file to the hard drive, and record which segment had been saved.

[2018-07-25 11:04] fangfufu opened #10 "Add configuration file support"
Store stuff in .config/httpdirfs or something.

[2018-07-25 11:06] fangfufu opened #11 "Create a Debian package for it"
Debian is the only OS I use, you know...

https://mentors.debian.net/
https://github.com/phusion/debian-packaging-for-the-modern-developer
https://www.debian.org/doc/manuals/maint-guide/

[2018-07-29 09:38] orent commented on #9
If this was implemented as a local 9p file server rather than a FUSE filesystem, it would automatically gain the benefits of fscache (see Documentation/filesystems/caching/fscache.txt)

[2018-07-30 13:58] fangfufu commented on #8
@RazeLighter777, the proper support has now been added.

[2018-07-30 13:58] #8 closed

[2018-07-30 13:58] fangfufu commented on #4
@RazeLighter777 , the proper support has been added.

[2018-07-30 14:01] fangfufu commented on #9
@orent , the idea is that once you access the file, it saves a local copy, so you can view it when you are offline.

[2018-07-30 19:29] orent commented on #9
The kernel has a built-in generic mechanism for local caching of remote filesystems. It is supported in nfs, ceph, 9p and other network filesystems. It is not supported in fuse, although there is a separate patch to enable it.

One method of implementating a userspace filesystem is use a local server for a network filesystem protocol. The 9p filesystem is particularly suitable for this and about a

[2018-07-30 20:37] fangfufu commented on #9
Does kernel's generic mechanism for local caching support saving the file for offline use though?

[2018-07-31 12:09] #10 closed

[2018-07-31 12:09] fangfufu commented on #10
Done.

[2018-08-10 15:15] jcharaoui opened #13 "Problem with HTTP basic authentication"
Hello, I'm trying to use httpdirfs with a URL protected by basic auth, but it doesn't work right. When supplying the correct credentials using `--username` and `--password`, I get these messages:

[code]

When using a URL with the credentials embedded, eg. `https://user:pass@example.com`, then the initial connection is established correctly but I can't browse to any subfolders:

[code]

This is on

[2018-08-10 20:53] fangfufu commented on #13
How did you set up your HTTP authentication? Which server did you use?

I only tested the HTTP authentication stuff with the following set up:

With this password file,
    test:$apr1$HTcy1Trp$hqjVOxq2DP7bov6lOD/Kt0

And this ``.htaccess`` file
    AuthType Basic
    AuthName "Password Protected Area"
    AuthUserFile /home/fangfufu/public_html/password
    Require valid-user

[2018-08-10 21:17] fangfufu commented on #13
Scratch my above comment - I think there is something wrong with the configuration file parser. I am looking into it now.

[2018-08-11 06:47] fangfufu commented on #13
Could you disable the configuration file for now, please?

[2018-08-11 13:10] jcharaoui commented on #13
@fangfufu I wasn't using a configuration file, just the command-line parameters. I tried to reproduce this problem with other URLs, but wasn't able to, so it might be something specific with the server I'm trying to connect to, but not sure what. I contacted the administrator to see if I can obtain the Apache configs.

[2018-08-11 13:54] fangfufu commented on #13
Does the username / password have some special character or something? It is important to know what kind of authentication scheme that server uses.

[2018-08-11 14:40] fangfufu commented on #13
I patched the config file parser anyway, please download the new version and have a look. However I suspect the your problem is unrelated anyway.

[2018-08-12 09:05] fangfufu commented on #13
In that case, I really need to know the authentication scheme of that web server.

[2018-08-13 00:27] fangfufu commented on #13
I can't really tell by the look of it, it is similar to mine. HTTP 401 indicates authentication error. Could I possibly have access to a server that is similar to that one?

[2018-08-20 22:14] fangfufu commented on #13
Closing ticket as there hasn't been further updates in the last week - feel free to reopen it.

[2018-08-20 22:14] #13 closed

[2018-08-21 02:54] jcharaoui commented on #13
Sorry, yes I can send you the URL by email. Does that work?

[2018-08-22 04:40] jcharaoui commented on #13
@fangfufu I was able to obtain an server-side access log entry capture when the problem occurred. The problem appeared very clearly: the username and password sent to the auth mechanism are inverted! After swapping around the values for `--username` and `--password`, it worked.

[2018-08-22 04:49] jcharaoui commented on #11
I can help review/upload the package, I'm a Debian Developper!

[2018-08-22 09:09] fangfufu commented on #13
Brilliant, I am glad that it is now resolved! :+1:

[2018-08-22 09:10] fangfufu commented on #11
@jcharaoui , on that's great! I will package it when I next have time - I am a bit busy right now.

[2018-08-22 14:19] fangfufu commented on #13
@jcharaoui , apparently I had been working on the dev branch, for the patch related to the config file. I have merged that back to the master branch, alongside your pull request. I have tagged a release version based on that.

[2019-01-11 01:50] jcharaoui commented on #11
@fangfufu Debian will soon enter its next freeze so if we want httpdirfs to enter the next stable release we should hurry! Are you still interested in packaging it?

[2019-01-11 01:51] fangfufu commented on #11
@jcharaoui , I am busy with school work right now, if you want to package it, feel free to do so. I am happy to provide help and etc.

[2019-01-11 02:57] jcharaoui commented on #11
I've created an ITP (Intent to package) report here : https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=918961

[2019-01-11 03:06] fangfufu commented on #11
Is there anything that I need to do?

[2019-01-11 04:41] jcharaoui commented on #11
No, I was just keeping you up to date on the process. Sorry for the noise.

I'll let you know what I have a package you can test :)

[2019-01-11 09:09] fangfufu commented on #11
Feel free to submit a pull request for all the Debian packaging control files. I might just end up giving you write access to the repository. :)

[2019-01-22 00:06] jcharaoui opened #16 "Migrate to OpenSSL 1.1"
OpenSSL 1.0 is deprecated for the next release of Debian, buster, therefore it cannot depend on libssl1.0-dev, which has been removed from the archive.

See:
* https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=871056
* https://wiki.debian.org/OpenSSL-1.1
* https://www.openssl.org/blog/blog/2017/02/21/threads/

[2019-01-22 15:05] fangfufu commented on #16
I will have a look later on, probably the earliest by next week. I am still working on my research paper on something that's completely unrelated... lol.

[2019-01-22 15:11] jcharaoui commented on #16
FYI the cut-off date for new packages in Debian buster is Feb 12th.

[2019-01-22 15:13] fangfufu commented on #16
Okay, is there a realistic chance for the package to be included, if this bug is fixed in time? If that's the case, I might work on this bug over my PhD work.

[2019-01-22 15:18] jcharaoui commented on #16
There's as chance, yes, as long as all the build and run-time dependencies are available in buster. The build dependencies are documented in the README, but not the runtime dependencies. Are there any besides FUSE?

Aside from that, it's pretty simple to package and I've already started the work.

[2019-01-22 15:23] jcharaoui commented on #16
Never mind, it's easy to tell using `objdump`...

[2019-01-22 22:32] fangfufu commented on #16
Hi, I am pretty sure I don't need to do anything. I think the warning in the README only applies to Debian Stretch, and only if you have OpenSSL 1.0.2 installed.

This is because if you have the old version of the library installed, and you use the new version of the header files, the callback functions won't be linked.

I had a look at here, it appears that you don't have to do anything with Open

[2019-01-22 22:39] fangfufu commented on #16
Reopening the issue so it is more visible, I am awaiting your verdict / opinion. :)

[2019-01-22 23:20] fangfufu commented on #11
The freeze policy is here. We don't have much time left. Please let me know if there is more I can do.
https://release.debian.org/buster/freeze_policy.html

[2019-01-23 02:18] jcharaoui commented on #16
I'm seeing several warnings when building the package against libssl-dev on buster:
[code]

[2019-01-23 02:30] jcharaoui opened #17 "Add OpenSSL exception to project licence"
The GPLv3 and OpenSSL Apache-style licences are unfortunately incompatible. GPLv3-licenced code linked to OpenSSL is forbidden in Debian because of this incompatibility.

Either an exception must be added to HTTPDirFS's licence, or it must link against GnuTLS instead of OpenSSL.

An example exception can be found in licence of Deluge which also uses GPLv3 as it's main licence: https://sources.debi

[2019-01-23 03:42] jcharaoui commented on #16
Alright, when I build the package on buster with the standard flags, only the `[-Wunused-function]` warnings appear. So it seems like we can close this issue.

[2019-01-23 03:42] #16 closed

[2019-01-23 03:46] jcharaoui commented on #11
@fangfufu I've sent over a few pull requests. These should take care of a few packaging warnings. There's also the issue of creating a manpage, but I have to check if I can generate that from `--help` using `help2man`.

As I side note I would like to suggest following semantic versioning for future releases as defined here: https://semver.org/

[2019-01-23 12:32] jcharaoui commented on #11
Yes, 1.0.1 sounds good. If you could tag it a create a release on GitHub, that makes it easier on the packaging side as well.

[2019-01-23 12:51] fangfufu commented on #11
I am happy to tag it. Do you plan to submit any more patches?

[2019-01-23 13:33] jcharaoui commented on #11
Not currently, but I'm not done with the packaging work. I should be able to complete it by the end of the week. I don't mind if you wait before tagging a new release.

[2019-01-23 16:13] fangfufu commented on #11
I think I will tag it after you submitted all patches. :)

[2019-01-24 08:20] fangfufu commented on #11
I have invited you as a collaborator. Feel free to accept the invite, and commit directly to the repository. :)

[2019-01-25 03:02] jcharaoui commented on #11
Alright I think I'm done with patching. The project looks in good shape, if you agree let's bump the version to 1.0.1 and I can upload that to Debian. The package is ready to go.

[2019-01-25 12:44] jcharaoui commented on #11
Nice, thanks! But you forgot to bump the version number in the Makefile :)

[2019-01-25 13:16] fangfufu commented on #11
Right, I deleted the release and updated the Makefile. ;)

[2019-01-25 13:54] fangfufu commented on #11
I tagged a new released with version 1.0.1, with an updated Makefile, in case you haven't noticed. :)

[2019-01-25 23:05] jcharaoui commented on #11
I've uploaded my work to the Debian GitLab host at https://salsa.debian.org/lavamind/httpdirfs-fuse

I've also submitted my package for inclusion in the main archive. Hopefully, it will get processed in time!

[2019-01-25 23:05] #11 closed

[2019-01-26 04:08] fangfufu commented on #11
Ah thank you so so much!!! I will buy you a beer if I ever meet you in real life. Could you tell me more about Debian's Gitlab presence please? (A few links would do)

[2019-01-26 04:12] jcharaoui commented on #11
Here: https://wiki.debian.org/Salsa

[2019-01-26 04:17] jcharaoui commented on #11
I'm based in Montreal, Canada. Let me know if you're in town some day, we have regular free software / Debian meetups!

[2019-01-26 08:10] fangfufu commented on #11
By the way, do you know how long we have to wait before the package appear on in the repository? It hasn't appeared at packages.qa.debian.org yet.

[2019-02-03 02:06] jcharaoui opened #23 "Dotfile madness (don't use ${HOME}/.httpdirfs for config)"
Use `${$XDG_CONFIG_HOME}` instead.

It's explained [here](https://0x46.net/thoughts/2019/02/01/dotfile-madness/).

[2019-02-03 15:35] fangfufu commented on #23
I will deal with it later in the week. I need to finish generating the results for this research paper then submit it...

 Feel free to fix it yourself, if you want, you have repository write access anyway. :)

[2019-02-03 16:41] jcharaoui commented on #23
Sure, of course! Creating this issue was more of a reminder for both of us, not a pressing demand. :)

[2019-02-12 15:14] jcharaoui commented on #11
@fangfufu Unfortunately, the Debian freeze is today and the package hasn't entered the archive yet. This means that httpdirfs is very unlikely to be part of the next Debian release. However, all is not lost, because once the release is published, we can still upload a backport package for buster.

[2019-02-13 07:04] fangfufu commented on #11
@jcharaoui , oh well. Thanks for all your effort though. :+1:

[2019-02-27 05:34] fangfufu commented on #23
It is now fixed. I don't know if I should bump the version number, do let me know what you think.

[2019-02-27 05:34] #23 closed

[2019-03-02 16:54] fangfufu commented on #23
@jcharaoui , I decided to release a new version, otherwise it could get confusing.

[2019-04-07 07:44] fstirlitz opened #24 "Seems to fail on long directory listings"
[code]
generates [a log file as attached](https://github.com/fangfufu/httpdirfs/files/3051267/wg14.log) (after patching to enable `CURLOPT_VERBOSE`).

[2019-04-07 21:18] fangfufu commented on #24
Based on the log, I have a feeling that the page in question has too many files, and libcurl tries to open too many connections at once, and that cause the whole thing to fail. I am mirroring the directory in question, then I am going to put on a local server with short URL, to see what happens.

[2019-04-07 21:34] fangfufu commented on #24
Yeh, I managed to replicate the bug. This fails.

    fangfufu@smithsonian:~/public_html$ for i in {1..3000}; do dd if=/dev/urandom bs=$RANDOM count=1 of=$i; done
    httpdirfs http://127.0.0.1/~fangfufu/ mnt

[2019-04-08 22:11] fangfufu commented on #24
I believe this issue is now resolved. :)

@jcharaoui, do you want to package this version? I bumped the version up to 1.0.3, because this is a proper bug fix.

[2019-04-08 22:11] #24 closed

[2019-04-22 22:34] fangfufu commented on #9
Release 1.1.0-alpha resolves this issue.

[2019-04-22 22:34] #9 closed

[2019-04-23 02:21] fangfufu opened #28 "Upload new version to Debian"
This new version contains a significant new feature - permanent cache system, and various bug fixes and enhancement. I think we should package this and upload it to Debian.

I know the man page needs to be updated.

Is there anything I could do?

[2019-04-26 02:48] jcharaoui commented on #28
I'm going to look to push an update to Debian.

For now I just want to point out that you seem to have rebased the repository, which means that I now need to start with a fresh httpdirfs repository on my end. You should never rebase commits that have been published.

[2019-04-26 05:53] fangfufu commented on #28
Yes, sorry, I did run the rebase command - I wasn't entirely sure what I was doing. I will bear that in mind in the future.

[2019-04-26 10:04] fangfufu commented on #28
Ok, I added a new feature to cache the directory structure, hence the version number bump. Once you finish making all the changes, let's bump the version number again.

Once again, I am sorry for rebasing the repository - I definitely won't do it again!

[2019-04-26 19:08] fangfufu opened #30 "Port to Windows"
I think it would be nice to port this filesystem to Windows, using Dokany or WinFsp. However I don't have any Windows development experience. So it would be great if anyone can help.

[2019-04-28 04:14] jcharaoui commented on #28
@fangfufu If I may make a suggestion: there's no need to create a new release every time you push a bugfix or feature. Instead, just push whatever you need to master. Once you're satisfied, let it settle for a while. Give users the chance to report bugs. Then when the code is stabilised and the last few commits are bug fixes, its a good time for a release. To be honest I don't feel it's very prude

[2019-04-28 04:18] jcharaoui opened #31 "Keep a changelog"
The changes between versions should be documented inside the repository in a text file, instead of being exclusively on the GitHub releases page. Guideline in terms of format can be found here: https://keepachangelog.com/en/1.1.0/

[2019-04-28 04:27] jcharaoui opened #32 "Reasonable cache defaults"
By default cache is disabled (good) but I don't think that allowing httpdirfs to allocate up to 8TB by default of disk space is reasonable. For most users that would mean caching *everything* httpdirfs comes across...

Something in the area of 100 segments (so 800MB by default) would make more sense, I  think.

[2019-04-28 11:30] fangfufu commented on #32
I get where you are coming from.

However, httpdirfs uses sparse allocation, if the user's filesystem supports it, then the space isn't actually allocated until the file segments are downloaded. So I don't think it matters.

However I agree that it might be an issue if the user's filesystem does not support sparse allocation.

Do you think it is a better idea to detect whether the user's filesyste

[2019-04-28 11:39] fangfufu commented on #28
@jcharaoui , I agree. I don't have much software development experience, so I am still learning the convention and etiquette.

So I guess it might be a good idea to come back in two weeks and think about pushing the code to Debian. I think it is a good idea to let the code settle down a bit. I am currently testing the code by running it on my server. I am trying to cache a fairly large http direct

[2019-04-28 11:40] fangfufu commented on #31
I think this is a good idea. Should I add the previous version into the change log, or just the future releases?

[2019-04-28 12:55] jcharaoui commented on #31
Since the full changelog isn't very long, I think it would be worth it to add previous versions into it.

[2019-04-28 13:04] jcharaoui commented on #32
From the information on [Wikipedia](https://en.wikipedia.org/wiki/Comparison_of_file_systems#Allocation_and_layout_policies), it seems FAT16/32 is a major filesystem that doesn't support sparse file allocation, so I think detection should probably be implemented.

Also, I know how sparse file allocation works, but such files are not as straightforward to manage and many tools don't deal very nicel

[2019-04-28 13:06] jcharaoui commented on #32
I'm also wondering: since we're breaking up files into segments, what's the advantage of using sparse allocation? If we fully allocate each segment then wouldn't the maximum waste of space be 1 segment per file?

[2019-04-28 13:13] jcharaoui opened #33 "Default cache directory"
Suggest using `--cache` as a boolean flag to enable cache at the default location of `${XDG_CACHE_HOME}/httpdirfs`, and add `--cache-location` to specify a different cache folder.

We could also implement http://bford.info/cachedir/spec.html for the cache directory.

[2019-04-28 13:26] fangfufu commented on #33
Ok, I will look into it, but feel free to work on it yourself. :-)

[2019-04-28 13:27] fangfufu commented on #31
Ok, I will get onto it when I next have some free time, but feel free to work on it yourself as well. :-)

[2019-04-28 21:57] fangfufu commented on #31
Done.

[2019-04-28 21:57] #31 closed

[2019-04-28 22:53] fangfufu commented on #32
Okay, I will look into how to do sparse file support detection. Although I think it is unlikely many Linux users would use FAT16/32 to store the cache folder.

Using sparse allocation makes writing httpdirfs much easier. It allows me to directly translate the ``read()`` calls to FUSE to ``fseeko()`` and ``fread()`` calls to the underlying backing cache file. Without spare allocation, and without f

[2019-04-30 07:06] fangfufu commented on #33
Done

[2019-04-30 07:06] #33 closed

[2019-04-30 07:32] fangfufu commented on #32
There doesn't seem to be a clean and easy way to query the filesystem to see if it supports sparse allocation, e.g.
https://stackoverflow.com/questions/38718864/how-to-test-if-sparse-file-is-supported
https://github.com/mafintosh/supports-sparse-files/blob/master/index.js

It is definitely possible to implement, but I am not sure if it is worth the effort. I have updated the README giving the user

[2019-07-13 23:23] fangfufu commented on #28
@jcharaoui , Hey Debian Buster has been released. Shall we start working on this again?

[2019-07-19 17:04] jcharaoui opened #34 "Parsing problems?"
Since upgrading to 1.1.6 on Debian Buster I'm seeing problems which I think are related to index parsing. Now, with several pages, some directories are detected as files and vice-versa. See http://security-cdn.debian.org/debian-security/ for an example.

Also, for some directories, HTTPDirFS completely hangs in the background and its impossible to unmount the directory.

The same listings tested w

[2019-07-19 18:18] jcharaoui commented on #34
Here is the log from parsing the debian-security URL

[code]

[2019-07-20 14:59] fangfufu commented on #34
I am afraid this might have been a bug in v1.0.1. The idea is to open a link, and check if the response has ``Content-Length`` in the header. If that's the case, then it is a file. If not, then it is a directory. In http://security-cdn.debian.org/debian-security/, everything has a ``Content-Length`` in the header, so everything is a file. This is the intended behaviour.

    $curl -I http://securi

[2019-07-20 15:12] jcharaoui commented on #34
Really? Where does HTTPDirFS do this? I can't find any reference to this header in the code.

What about [/src/link.c#L48-L65](https://github.com/fangfufu/httpdirfs/blob/master/src/link.c#L48-L65) ?

[2019-07-20 15:19] fangfufu commented on #34
Yes, really. It is here:
/src/link.c#L162-L186

Perhaps this is not the smartest idea. Should I base the detection purely on the URL itself, rather than content length?

Basically we have two ways of setting link type in two separate function. ``linkname_type()`` is called when a ``LinkTable`` is first created. ``Link_set_stat()`` is called when the links in the link table are checked.

[2019-07-20 15:32] jcharaoui commented on #34
Well I don't know if it's smart or not, but it's definitely unexpected. I think perhaps by default we should detect whether a link is a directory by checking for a trailing slash on the HREF URL, since that seems to be the way most HTTP indexes work. What do you think?

[2019-07-20 15:39] jcharaoui opened #35 "Hangs on redirection"
One of the indexes I use with HTTPDirFS uses 301 redirections when querying URLs without a trailing slash. This causes HTTPDirFS 1.1.6 to hang when opening a sub-directory. This problem doesn't occur with 1.0.1:

[code]

[code]

[2019-07-20 15:42] fangfufu commented on #34
Yup, okay. I agree. Trailing slash definitely indicates a directory. I think I still need to keep the code to check whether a directory link is valid.

I will patch it up in a few hours time :) - I need to go.

[2019-07-20 15:42] jcharaoui commented on #35
Hrmm, I just noticed that others also use HTTP 301 and it works with 1.1.6.

So that's probably not the cause of the bug.

I'm still trying to figure out where its hanging....

[2019-07-20 15:42] #35 closed

[2019-07-20 16:16] jcharaoui opened #36 "Hangs when HTTP/2 is used"
When HTTP/2 is used between libcurl and the server, HTTPDirFS will hang when requesting a subdirectory. The initial request for the root directory works fine, it seems to hang when trying to list a directory or requesting a file after the initial setup. For example, with `CURLOPT_VERBOSE`:

[code]

The problems doesn't occur when using HTTP/1.1.

[2019-07-20 16:21] fangfufu commented on #34
Fixed in 78d816716cb0dead3f74996b0b3c5844770533db

[2019-07-20 16:21] #34 closed

[2019-07-20 16:22] fangfufu commented on #36
Have you got a server that I can test with?

[2019-07-20 16:33] jcharaoui commented on #36
@fangfufu Here: https://lib3.net/httpdirfs

Enabling `CURLOPT_FORBID_REUSE` prevents the problem from occuring.

[2019-07-20 18:26] fangfufu commented on #36
I am not a big fan of ``CURLOPT_FORBID_REUSE``, as disallowing connection reuse causes performance issues. I now set ``CURLOPT_HTTP_VERSION`` to ``CURL_HTTP_VERSION_1_1``.

Fixed in 4491377f64139c9d05b31e7b26ce4d472a50909c.

[2019-07-20 18:33] jcharaoui commented on #36
Hrm. A forced protocol downgrade seems like a harsh workaround...

Isn't there some way we could just properly close all open connections after each filesystem operation?

[2019-07-20 18:40] fangfufu commented on #36
Right now network connections are not coupled to filesystem operations. I think it is better performance to allow libcurl to reuse existing connections for the next filesystem operation, rather than opening and closing a connection after each operation.

I have no idea absolutely no idea why I can't use HTTP2. I don't know if it is related to this:
https://curl.haxx.se/mail/lib-2015-11/0107.html

[2019-07-20 19:02] fangfufu commented on #36
I think this is definitely a problem with libcurl, or maybe a misconfiguration of libcurl.

I created a dev branch, with HTTP2 HTTP2 multiplexing enabled. It gets stuck at the following line:
https://github.com/fangfufu/httpdirfs/blob/dev/src/network.c#L159

I have no idea why it gets stuck in ``curl_multi_perform()`` and how to diagnose it.

[2019-07-20 19:12] jcharaoui commented on #36
Let's push the protocol downgrade as a workaround for the next version, but keep the HTTP/2 branch for debugging. It might be worth it to dig deeper into the documentation or check with libcurl developpers.

[2019-07-20 19:14] fangfufu commented on #36
I tried setting connection timeout to 1 sec, it doesn't help. I think this might needs some sort of packet sniffing, or at least check externally to see if the connection is still open.

    path_download(/foo, 0-4096);
    * Expire in 0 ms for 6 (transfer 0x7fd8b4002c90)
    pthread_mutex_lock(&transfer_lock)
    curl_multi_perform start
    * Expire in 1000 ms for 2 (transfer 0x7fd8b4002c90)

[2019-07-20 19:28] jcharaoui commented on #36
I tried building with newer libcurl, 7.65.1 but there was no improvement.

[2019-07-20 19:37] fangfufu commented on #36
Setting ``CURLOPT_CONNECTTIMEOUT`` to ``1`` seems to help sporadically, especially after ``make clean``.

(I don't know if ``make clean`` actually helps, and why it helps.)

[2019-07-21 01:42] fangfufu commented on #36
By the way, this has got nothing to do with multithreading - running HTTPDirFS in single thread mode does not help with this problem.

[2019-07-21 07:59] fangfufu commented on #36
Okay, I figured out why now. I use curl's share interface to share as many things as possible between curl handles. It looks like the flag ``CURL_LOCK_DATA_CONNECT`` makes it crash. This flag "put the connection cache in the share object and make all easy handles using this share object share the connection cache." [1]

Since we are using curl multi interface, it is not necessary to configure ``CU

[2019-07-21 08:07] #36 closed

[2019-07-21 15:19] jcharaoui opened #37 "Segfault with partially downloaded file and changed segment size"
If a remote file is partially initialized in cache (not fully downloaded) with a segment size (eg. 8 MB), and the mountpoint is reattached later with a different segment size (eg. 2 MB), trying to read the remote file again will trigger a segmentation fault.

[2019-07-21 15:41] jcharaoui opened #38 "Crash in blocking_multi_transfer() ?"
I hit this when testing, cache mode off, and caused HTTPDirFS to crash:

`blocking_multi_transfer(): 8, API function called from within callback`

I haven't been able to reproduce it so far, but it may be indicative of a problem.

[2019-07-21 16:09] fangfufu commented on #38
It appears that I copied at pasted ``blocking_multi_transfer()`` to multiple places. I pushed a commit with updated error messages. Please recompile to see if this can be reproduced again.

[2019-07-21 16:55] fangfufu commented on #37
This is fixed in ee2d3edcbfc0fd4cfa60ba24c5a46b72cfbb2e32, the user specified segment size is ignored for existing cache files.

[2019-07-21 16:55] #37 closed

[2019-07-21 16:56] fangfufu commented on #38
By the way, what are you doing to discover so many bugs? Do you reckon we should start writing test harnesses?

[2019-07-22 02:14] jcharaoui commented on #38
One of the uses I have for HTTPDirFS is streaming video, eg. reading large (>250 MB) video files with mplayer or VLC. While non-cached mode still seems to work well as in 1.0.1, with cached mode it's not as stable. The video player will keep requesting data to fill its own application cache, causing HTTPDirFS to gradually download data into its own cache, but sometimes it stops and hangs, and I ha

[2019-07-22 05:21] fangfufu commented on #38
Sounds like deadlock to me, I am not *that* surprised, considering how many mutexes I have to put into the cache related codes. I didn't do well in concurrency programming when I was an undergraduate...

Actually one of the primary way for me to test the program was to play video files. A lot of work was put into prefetching the next download segment. Anyway, it would be nice if you link me to the

[2019-07-22 07:51] fangfufu commented on #38
I just watched a film on my own server, it worked fine.

[2019-07-22 08:27] fangfufu commented on #38
Please try compiling and running c660159a1893ffade4ae88a4cc7014375b1ba635, and post the log file when it deadlocks. This version produces more debug messages associated with locks.

[2019-07-27 10:13] fangfufu commented on #38
Please try compiling and running the latest commit, and post the log file when it deadlocks. This version produces more debug messages associated with locks, and I modified locking sequence.

[2019-07-30 18:32] fangfufu commented on #38
@jcharaoui ,  here is an update on the situation,

So libfuse issues concurrent read threads. This is how HTTPDirFS process them:
  - When HTTPDirFS operates in non-cached mode, these read threads get directly translated to HTTP requests.
  - When it operates in cached mode, these concurrent read threads get serialised. This is to avoid multiple writes to the cache.

So far I can't see any deadloc

[2019-08-20 02:16] fangfufu commented on #28
@jcharaoui , hey is there anything I could do to help? :-)

[2019-08-23 15:43] jcharaoui commented on #28
@fangfufu Could you update the changelog and tag 1.1.7 ?

[2019-08-23 22:24] fangfufu commented on #28
I updated the change log and Makefile. I haven't created a tag for 1.1.7 yet, because you have made some changes, feel free to tag 1.1.7 once you finish making all the changes. :-)

[2019-08-24 00:12] jcharaoui commented on #28
I tagged 1.1.7 but unfortunately it doesn't build with Debian unstable:
[code]
This probably has to do with API changes in [libcurl4-openssl-dev](https://packages.debian.org/search?keywords=libcurl4-openssl-dev) ...

[2019-08-24 15:21] fangfufu commented on #28
The problem is not actually due to ``libcurl4-openssl-dev``, right now Debian Testing and Debian Unstable share the same version of ``libcurl4-openssl-dev``. It compiles fine under Debian Testing. Debian Unstable does have a different version of GCC, I don't know if it is because of that.

[2019-08-24 16:47] fangfufu commented on #28
Ok, I fixed it now. The fix is in 97ecbffca08ac22bcd0193be24031c8443f67409. I changed the location of ``$(LDFLAGS)``. This is because ``collect2`` now has the ``-as-needed`` flag. So the linker is now sensitive to the relative position of the object files and the libraries in the command line.

It is basically this error:
https://bugs.launchpad.net/ubuntu/+source/gcc-4.8/+bug/1271468

For more det

[2019-08-25 10:22] fangfufu commented on #28
@jcharaoui , I added some pragmas to suppress ``-Wunused-function`` warnings for the thread lock functions OpenSSL. Those functions were needed during Debian Stretch, they became obsolete in Debian Buster. However I am not removing them from the code for now, as people are still using Debian Stretch.

[2019-08-25 14:45] jcharaoui commented on #28
@fangfufu I suggest to remove the functions. I'll create a backport package that includes the required functions (via `debian/patches`)

[2019-08-25 14:56] fangfufu commented on #28
@jcharaoui I prefer to leave them in, unless there is a technical reason that they should be out. I don't see why we should break backward compatibility. Additionally this software might get used by non-Debian users.

[2019-08-30 17:37] jcharaoui opened #40 "Crashes with "API function called from within callback""
I tagged 1.1.8 and readied a package for upload. Before sending the package to the archive I always test it. After a few minutes of streaming a MKV movie file, I get this crash:

`transfer_blocking(): 8, API function called from within callback`

This happened 3 times back to back with different video files.

The mount was configured with default settings (no cache).

[2019-08-30 18:29] fangfufu commented on #38
same bug got reported in issue #40

[2019-08-30 18:29] #38 closed

[2019-08-30 18:32] fangfufu commented on #40
Could you give me access to that server and that MKV file, please? Could you also let me know which program you used to play that MKV file, please? Please feel free to send me an email at fangfufu2003@gmail.com, if you don't fancy sending me anything in public.

[2019-08-30 22:19] fangfufu commented on #40
Okay, can you run it with ``-f``, and give me the full log please? I can't reproduce it, but I have a good idea what might have caused it. The same file segment might have been requested twice by two different threads.

@jcharaoui , could you reproduce this problem in the older version? I wonder why it didn't show up before.

[2019-08-31 01:38] jcharaoui commented on #40
@fangfufu I'll send you a full log with `-f` ASAP. I'm positive this never happened with the current Debian version, 1.0.1. We'd have to bisect the repository to see which commit introduced the problem.

[2019-08-31 07:20] fangfufu commented on #40
I believe I have solved the problem in commit d6fbcb41136f8bdee48e6e244e79ae298b8756a9.

If you look at the code in v1.0.1, curl handles would not have been added when transfers are happening, due to the mutexes.

https://github.com/fangfufu/httpdirfs/blob/527cad6eaa2a5c93e0bd6ad54bd2da1bf7910aa5/src/network.c#L271-L273

I removed those mutexes, because I thought they weren't needed. They only occ

[2019-08-31 07:37] fangfufu commented on #40
Right, I am confident this is resolved. I have updated the changelog, Makefile, tagged a new version, and created a new release. Feel free to close the issue once you tested it out.

[2019-08-31 11:44] fangfufu commented on #40
Okay, I cannot reproduce the exact bug in 1.1.8, even after the trying to use your server. However, I can confirm that 1.1.8 hangs when there are multiple simultaneous I/O requests. I basically ran three instances of ``pv $VIDEO_FILENAME > /dev/null``, 1.1.8 hangs after like 5 minutes. 1.1.9 works fine.

Previously in order to test my code, I mounted Debian CD image server, ran one instance of ``c

[2019-09-01 08:12] fangfufu opened #43 "Porting to Windows"
It would be great if someone helps me and port this to Windows. The major challenge includes:

- Porting all the functions that use ``pthread`` so they use Windows thread.
- Use conditional compilation in such a way so the resulting code would still compile under Linux.

I recommend using [WinFSP](https://github.com/billziss-gh/winfsp), because they have a nice [tutorial](https://github.com/billzi

[2019-09-02 14:28] fangfufu opened #44 "If I change the header files, make wouldn't recompile the program."
If I change things in the header files, but not the source files, ``make`` wouldn't recompile the relevant object files. I have no idea how to fix this.

[2019-09-02 16:57] fangfufu commented on #44
Ah don't worry about it, I fixed it. :-)

[2019-09-02 16:57] #44 closed

[2019-09-27 23:49] fangfufu commented on #28
The new version had been uploaded to Debian. :-)

[2019-09-27 23:49] #28 closed

[2019-09-27 23:50] fangfufu commented on #32
I think we should just leave it as it is. :-)

[2019-09-27 23:50] #32 closed

[2019-09-27 23:50] fangfufu commented on #40
This bug is definitely resolved.

[2019-09-27 23:50] #40 closed

[2019-10-24 15:53] EliotBerriot opened #45 "Add support for Funkwhale"
Hi there! I'm just discovering `httpdirfs` through the *Sonic support, and it's really interesting.

I've tried it with [Funkwhale](https://funkwhale.audio) (an audio streaming server I work on), since  Funkwhale implement a subset of the Subsonic API. However, it doesn't work as `httpdirfs` rely on non-ID3 based subsonic endpoints (and Funkwhale only supports ID3 based endpoints).

As per the [su

[2019-10-24 16:02] fangfufu commented on #45
Hi,
I am happy to add ID3 API support.

1. Are you a developer for Funkwhale?
2. Do you have an API documentation for Funkwhale, like the one for Subsonic?
3. Do you have a server that I can connect to? Please email me with a server's login credential, if necessary. I don't actually run a Subsonic server. I have been using @jcharaoui 's server.

[2019-10-24 16:10] EliotBerriot commented on #45
Terrific!

Yes, you could say I'm the maintainer :)

We do have [an API documentation](https://docs.funkwhale.audio/developers/subsonic.html) that list the supported endpoints, but I'd recommend using the one at http://www.subsonic.org/pages/api.jsp, since we used this one as a basis for our implementation.

I'm not 100% sure of the endpoints you'll need to implement in the context of a Fuse FS, b

[2019-10-24 16:17] fangfufu commented on #45
Cheers, I will let you know when I get some more done. It should be fairly easy.

While you are here, I do think that this project might be suffering from a bit of feature bloat - it was originally designed for mounting HTTP directory listings, now it supports Subsonic API as well. It is really bad for advertising purposes - what am I meant to say to people, when they ask me what this software doe

[2019-10-24 16:19] fangfufu commented on #45
@EliotBerriot, are these valid? https://docs.funkwhale.audio/swagger/

[2019-10-24 16:26] EliotBerriot commented on #45
That's a hard question :D

To be frank, I'm not familiar enough with the project to give a definitive answer, but I kind of understand why Subsonic support doesn't sound like a core feature of `httpdirfs`.

That being said, eventhough `*sonic` servers aren't pure HTTP dir listing servers, you're still mounting HTTP content from these, so it's entirely off either.

An option could be to consider th

[2019-10-25 02:11] fangfufu commented on #45
@EliotBerriot  Funkwhale's ``created`` timestamp does not follow the same format as Subsonic / Airsonic.

Funkwhale produces:
``created="2019-10-21 14:42:31.284232+00:00"``
whereas Subsonic / Airsonic produces :
``created="2017-04-14T12:36:28.000Z"``

Could you file a bug report please?

[2019-10-25 02:51] fangfufu commented on #45
@EliotBerriot, Funkwhale's output the following API call are not the same as the ones spit out by Subsonic / Airsonic:
- http://www.subsonic.org/pages/api.jsp#getArtists
- http://www.subsonic.org/pages/api.jsp#getArtist
- http://www.subsonic.org/pages/api.jsp#getAlbum

Other than the difference of ``created``, Funkwhale also doesn't output ``path``, which is used for setting the filename.

I am no

[2019-10-26 13:55] epoupon opened #46 "Subsonic API: support password authentication scheme"
Hello,

It would be great to support password authentication for servers that are using API version <= 1.12.0
Several implementations still stick to older versions, mainly to avoid storing passwords in plain texts.
Examples:
- LMS (https://github.com/epoupon/lms)
- supysonic (https://github.com/spl0k/supysonic)

You could imagine a secure fallback to plain password method if the following conditio

[2019-10-27 22:02] fangfufu commented on #45
@EliotBerriot , your requested feature is added in c2be88c6e41bb971554cc78b20befaeeee1efd34. I note that your demo server still hasn't been updated for my requested changes.

I wrote some code to compute the required ``path`` using ``track``, ``title`` and ``suffix``, so it is not strictly necessary for your server to return ``path``. However, ``path`` would be used in preference to ``track``, ``t

[2019-10-27 22:02] #45 closed

[2019-10-28 00:22] fangfufu commented on #46
This is implemented in 05776305cbd21e68e8a8e51b4831adc320209bf1, you can activate the mode using ``--sonic-insecure``. I am not a fan of automatic protocol downgrade.

[2019-10-28 01:11] fangfufu commented on #46
By the way, to mount your LMS, you need ``--sonic-insecure`` and ``--no-range-check``.

[2019-10-28 01:11] #46 closed

[2019-10-28 05:45] epoupon commented on #46
Thanks!

[2019-10-28 08:26] EliotBerriot commented on #45
The update has been deployed on https://demo.funkwhale.audio, and I confirm this is working with the latest version of httpdirfs :tada:

Thank you so much @fangfufu, I'm going to update our website ensure it includes proper link to your project!

[2019-10-28 12:18] fangfufu commented on #45
@EliotBerriot , thanks! Advertising are much appreciated! 😊

[2020-01-12 11:20] llucps opened #51 "macOS compilation"
Hi,

Is there any chance to make httpdirfs work under macOS? If so, could you provide instructions of how to compile from the source?

Thanks.

[2020-01-12 12:56] fangfufu commented on #51
No, sorry. I don't have access to a Mac.

[2020-03-17 20:07] 873578156 opened #53 "how can I use httpdirfs on Debian 7.3?"
Because of a project, I have to use Debian 7.3, so how can I use httpdirfs on Debian 7.3? PS. it tells me that I can't find the libgumbo dev package.

[2020-03-17 22:12] fangfufu commented on #53
You probably have to manually compile libgumbo yourself. Your Debian version is too old for me to support. Sorry.

[2020-03-17 22:12] #53 closed

[2020-03-19 13:23] 873578156 opened #54 "I have a problem，fuse: mountpoint is not empty fuse: if you are sure this is safe, use the 'nonempty' mount option"
user1@debian:~$ sudo httpdirfs --cache https://cdimage.debian.org/debian-cd/ /mnt/book
libcurl SSL engine: OpenSSL/1.1.1d
CacheSystem_init(): directory: /root/.cache/httpdirfs/https%3A%2F%2Fcdimage.debian.org%2Fdebian-cd%2F
LinkTable_new(): disk_linktbl->num: 13, linktbl->num: 13
LinkTable_invalid_reset(): 0 invalid links
LinkTable_uninitialised_fillDone!
------------------------------------------

[2020-03-19 13:25] fangfufu commented on #54
Please describe what your problem is.

[2020-03-19 13:25] #54 closed

[2020-03-19 14:22] 873578156 commented on #54
fuse: mountpoint is not empty
fuse: if you are sure this is safe, use the 'nonempty' mount option

[2020-03-19 14:36] fangfufu commented on #54
Then empty the directory before mounting?

[2020-07-18 08:52] shoukolate opened #55 "Is is possible to get flatpak package for httpdirfs?"
Is is possible to get flatpak package for httpdirfs? I would like to try it on SailfishOS which recently started supporting flatpaks.

[2020-07-18 10:07] fangfufu commented on #55
Compiling this software is not *that* difficult. You need FUSE support in SailfishOS anyway. I doubt you can get FUSE in the form of a flatpak.

[2020-07-18 14:07] shoukolate commented on #55
If you are asking if we have fuse on SailfishOS, yes we do.

[2020-07-18 14:43] fangfufu commented on #55
What's the problem with compiling this on SailfishOS?

I don't have SailfishOS, and I have no experience with flatpak. I am open to ideas, but I need to know why it is necessary.

[2020-07-19 08:52] #55 closed

[2020-08-27 18:28] alcir opened #56 "Funkwhale"
Hello.
I'm trying to use httpdirfs with Funkwhale.

This is the command I'm using:
`httpdirfs -f  --cache --sonic-username myuser --sonic-password APIPassword --sonic-id3 --no-range-check https://tanukitunes.com/ ./mnt`

What I get is:
[code]

If I look inside the `mnt` directory, I can see only four subirectories and an input/output error:
[code]

[2020-09-18 22:08] walhi opened #57 "It does not work correctly with an older version of apache"
wanted to use your tool for drivers backup. but the list is empty.
http://abit.ws/file.abit.com.tw/pub/download/default.htm

[2020-09-25 07:21] walhi commented on #57
This is a very bad resource that gives files of 16 bytes. I think that the problem is still in him, and not in this software.

[2020-09-25 07:21] #57 closed

[2020-10-03 00:52] fangfufu commented on #56
I don't think it likes directory 5 ``5 D 0 . ``, ``.`` tends to have special meanings in shell / filesystem... The quickest way for you to get it working is to get rid of the songs which caused ``.`` to appear. I might do a patch which rename those ``.`` into name such as ``dot``, but that's going to take a while. I have a lot of personal commitments right now.

[2021-01-12 10:11] repomaa opened #58 "Trouble with special unicode chars"
I get the following error when mounting my funkwhale instance:

[code]

this prevents mpd from indexing the db at all as it seems.

[2021-01-12 10:13] repomaa commented on #58
hm no it also happens on other paths without any special chars.

[2021-01-12 10:16] fangfufu commented on #58
Could you post more log please?

[2021-03-31 16:06] extreme-sysadminning opened #59 "Directories and files are shown twice"
I'm mounting a default apache dirlisting as a user, like so:

[code]

But strangely, every entry, be it file or directory, is listed twice (both work as expected):

![grafik](https://user-images.githubusercontent.com/5648464/113174940-2ec81880-924b-11eb-9a67-32f678be1634.png)

My environment:

[code]

[2021-04-01 15:19] extreme-sysadminning opened #60 "Requirements for compilation with Debian 11"
The README doesn't state the requeirements for compilation on Debian 11 (Bullseye), i took the requirements for Debian 10, but:

[code]

uuid-dev is missing.

Correct requirements for Debian 11 (Bullseye) are::

[code]

[2021-04-01 15:26] extreme-sysadminning commented on #59
Compiled the latest git and updated my system, still the same problem:

![image](https://user-images.githubusercontent.com/5648464/113316903-21746200-930f-11eb-9afc-c0b04d99d4a9.png)

Environment:

[code]

[2021-04-01 15:43] fangfufu commented on #59
Could you possibly make this server accessible me, so I can investigate? Alternatively, could you tell me the server's configuration, please?

[2021-04-02 11:56] extreme-sysadminning commented on #59
Sure, i sent you a login to your gmail account. Thanks a bunch for your time :-)

[2021-04-02 11:59] extreme-sysadminning commented on #59
I think i found it, it's one of those options in my apache2.6 .htacces:

Options +Indexes
IndexOptions FancyIndexing HTMLTable FoldersFirst IconsAreLinks NameWidth=* Charset=UTF-8

[2021-04-02 12:02] extreme-sysadminning commented on #59
It's the **IconsAreLinks** option.

So there is a workaround: Remove IconsAreLinks option from IndexOptions.

[2021-04-02 12:03] fangfufu commented on #59
If you look at the source code of the html, before you changed the settings, you can see that the links appear twice. I suppose I can work on removing duplicated links.

[code]

[2021-04-02 12:04] extreme-sysadminning commented on #59
Cool, i'll leave the access for later testing for a few days.

Thanks mate :-)

[2021-04-02 12:05] fangfufu commented on #60
Thanks, I updated the readme.

[2021-04-02 12:05] #60 closed

[2021-04-02 12:05] fangfufu commented on #59
It is okay, you can close the access now. I can configure my own apache to do the same thing. I probably won't have time to deal with this properly until I finish my PhD thesis anyways.

[2021-04-02 12:08] extreme-sysadminning commented on #59
Ok then. Good luck :-)

[2021-05-10 19:38] mahfuzullah opened #61 "please add snap snapcraft or flatpac flathub release...."
i use arch on my home computer and a company customized ubuntu on work, but there is no release available for my ubuntu,

can you guys please release snap or flatpac, i cant build it every time i change desk......

thank you ahead.

[2021-05-11 09:13] fangfufu commented on #61
Sorry I don't have time to create snap or flatpack package. If you need this software at work, speak to your company IT.

[2021-05-11 09:13] #61 closed

[2021-05-17 08:42] karl0ss opened #62 "fuse: missing mountpoint parameter"
Running on RaspberryPi 4.

[code]

Pulled down the project, installed the Debian 10 requirements and built using 'make' in the project folder, no apparent issues -

[code]

But when I try and mount (I have changed my HTTP folder URL for this ticket)

` ./httpdirfs -f --cache https://myHTTPFolder/ /mnt/HTTP`

I get

[code]

Not sure what to do, any ideas would be really appreciated.

Thanks

[2021-05-17 10:27] fangfufu commented on #62
What is the output of your ``uname -a``? Which distribution of Linux are you on? I don't have that error when I compile.

[2021-05-17 11:15] karl0ss commented on #62
top line posted is the output of uname -a

`Linux PiServer 5.10.17-v8+ #1414 SMP PREEMPT Fri Apr 30 13:23:25 BST 2021 aarch64 GNU/Linux
`

Running the latest version of raspbian from their website.

[2021-05-17 13:00] karl0ss commented on #62
To be able to move on, I have also tried installing this on an Unbuntu 18.04 VPS I have and seem to be able to get it to "work"..

For some context, I am trying to use this to connect to my HTTP Media Folder on AllDebrid, Now, this seeeeeems to have worked, but reports all my videos as "invalid links"

[code]

So, this does feel like it is really close to working for my needs, but not quite, is th

[2021-05-17 13:29] fangfufu commented on #62
I am not 100% sure why all your links are marked as invalid. Here is the code that decode links:
https://github.com/fangfufu/httpdirfs/blob/master/src/link.c#L107

Basically your link has to start with alphanumeric character.

[2021-05-17 13:30] fangfufu commented on #62
If you give me an account to whatever you are using, I might be able to fix it.

[2021-05-18 08:21] karl0ss commented on #62
Is there a way for me to send you a PM and I will send you a link so you can have a look....this would be really useful..

Still didn't work out how to get it to work on my Raspberry Pi 4..

[2021-05-18 11:39] fangfufu commented on #62
If you run the 64-bit beta version of Raspberry Pi OS or whatever it is called, it should work. It is basically vanilla Debian with Raspberry Pi foundation kernel. I think PiServer has a different version of one of the library, which leads to that error.

[2021-05-19 17:44] karl0ss commented on #62
Ok cool, did you get my email yesterday with the link to what I was trying to access?

Thank for your work..

[2021-05-19 20:40] fangfufu commented on #62
Yes, I got your email yesterday. I will likely have time to investigate over the weekend, or the next weekend. Sorry, this is going to take some time. I am a bit busy these days.

[2021-05-20 09:22] karl0ss commented on #62
Yeah no problem, I will continue to play as well, thanks

[2021-05-25 21:37] fangfufu commented on #62
You put your server behind Cloudflare, and the HTTP header response does not provide content length, so the files are marked as invalid.  If you use the server address that is behind Cloudflare, it works as intended. This is not my software's problem.

[2021-05-25 21:37] #62 closed

[2021-05-27 18:57] hiliev commented on #51
@llucps If you are still interested in running HTTPDirFS on macOS, I've patched it so that it builds - see [my fork](https://github.com/hiliev/httpdirfs). Using it on an M1 Mac mini running Big Sur 11.4 right now.

[2021-05-27 19:04] fangfufu commented on #51
@hiliev, do you want to generate a pull request? I will merge it in and write you in the README. :)

[2021-05-27 19:07] hiliev commented on #51
I would gladly do so, with the caveat that the Makefile might be a bit too specific for my system.

[2021-05-27 19:10] fangfufu commented on #51
I will review it properly when you send a pull request, then decide. I had a look at your repository, it looks okay so far.

[2021-05-27 19:18] fangfufu commented on #51
I had a quick look, and tested it. It compiles fine under Debian Buster. I have merged it. Thanks a lot. I will add you in the acknowledgement section. :+1:

[2021-05-28 07:08] llucps commented on #51
Thank you very much! I can confirm that also works using [Navidrome](https://github.com/navidrome/navidrome) as a subsonic backend.

[2021-05-28 08:54] hiliev commented on #51
Thanks for letting me know about Navidrome. Looks like a good non-JVM alternative to *sonic.

[2021-06-05 03:27] fangfufu commented on #51
@hiliev, you forgot to add uninstall section for Darwin, I think.

[2021-06-05 08:12] hiliev commented on #51
But who would want to uninstall it? 😃  Anyway, fixed.

[2021-06-05 10:53] fangfufu commented on #51
Cool thanks! :)

[2021-06-05 10:53] #51 closed

[2021-07-27 19:12] fangfufu commented on #56
@alcir, are you still interested in getting this fixed? I have some time. I am happy to have a look. Please create an account for me on your server, so I can investigate. You should be able to find my email address on my Github profile.

[2021-07-27 19:33] alcir commented on #56
Well. Thanks. But I don't run a server 😅

[2021-07-27 20:44] fangfufu commented on #56
How does tanukitunes work? Do I just create an account there?

[2021-07-28 18:06] fangfufu commented on #56
I registered an account there, but I cannot access any of the songs. I cannot investigate further.

[2021-08-04 08:20] fangfufu opened #71 "Sort out the multilingual support."
This piece of software was not designed with multilingual support in mind, as supporting Unicode and proper support of percentage encoding is quite complicated.

A patch for Chinese support was provided. However I rejected the patch because the poor quality of the code.
https://github.com/fangfufu/httpdirfs/pull/70

There is minimal support percentage encoding in ``cache.c`` and ``link.c``, these

[2021-08-04 23:35] #71 closed

[2021-08-08 13:02] fangfufu commented on #59
@extreme-sysadminning , I know this is more than a year late, but I have fixed it. I think. Please test it out. At least it is working for the official Debian CD image server.

[2021-08-08 13:02] #59 closed

[2021-08-08 15:27] fangfufu opened #77 "Todo"
This issue is mainly for me to keep track of what I want to do.
- [x] ~~Split into two binaries and the associated documentation changes (``httpdirfs`` and ``subsonicfs``)~~  (Abandoned)
- [x] Improve debug functions
- [x] Automatic generation of man page with proper description
- [x] Contact maintainer for a new Debian package

[2021-08-11 08:42] MecryWork opened #79 "When copying files, the program will leak memory"
After I copied multiple files to the local desktop, I found that the memory of `httpdifs` has increased (the copy has been completed). I wonder if the memory of the copy thread has not been released successfully.

[2021-08-11 08:42] MecryWork commented on #79
@fangfufu Hope you can see

[2021-08-12 12:21] MecryWork opened #80 "Fix memory overflow"
Fix some memory leaks

[2021-08-12 12:21] #80 closed

[2021-08-20 04:31] breisig opened #82 "Static compiled version?"
Is it possible to static compile the binary? I cannot find a way to do it.

[2021-08-20 21:30] fangfufu commented on #82
Sorry, I have never looked into compiling a static binary of this program.

[2021-08-25 15:17] breisig opened #86 "Ability to specify a single file directly (similar to httpfs)"
Is it possible to add the functionality to be able to show just 1 file instead of a directory file listing in a mounted path? I have a ISO file in a path that doesn't support web directory file listing and would like to be able to mount and show only that ISO file if I specify it directly.

Example.

httpdirfs --no-range-check https://www.example.com/mycrazypath/rocky-linux-8.iso /cdrom/

And it s

[2021-08-28 21:01] fangfufu opened #87 "Should I split out the sonicfs functionality?"
I think in a previous email, @jcharaoui said that the sonicfs functionality should be split out into a separate binary. I sort of agreed with it, because the Unix philosophy says that we should emphasize building simple, short, clear, modular, and extensible code.

However after having a closer look, I feel the sonicfs functionality is just so intertwined with the main code. A major rewrite would

[2021-08-31 11:31] #87 closed

[2021-08-31 11:32] fangfufu commented on #87
Abandoning this issue because the proposed changes does not make things more modular. Also the proposed changes introduce more complication for implementing https://github.com/fangfufu/httpdirfs/issues/86.

[2021-08-31 11:33] #77 closed

[2021-08-31 11:33] fangfufu commented on #79
I probably will use static analyser such as UBSAN to check for memory leak in the long term.

[2021-08-31 11:33] #79 closed

[2021-08-31 13:01] fangfufu commented on #86
@breisig , implemented via https://github.com/fangfufu/httpdirfs/commit/f42264d3c32c8fa513ba0950f7c6711dff3a60ce. Please have a try, and let me know what you think. If you like it, please spread good words of this software! :slightly_smiling_face:

[2021-08-31 18:18] fangfufu opened #89 "Long-term Todo"
This is the long term plan for HTTDirfS:

[2021-09-17 08:10] MecryWork opened #90 "Why not add a resumable upload function?"
When using curl to transfer and download, if a unilateral network failure occurs, it will be directly stuck, and a breakpoint resume function is added to prevent stuck

[2021-09-17 10:25] fangfufu commented on #90
Sorry, I don't understand what you just wrote. Could you please re-explain what you just wrote?

[2021-09-17 13:03] ryancaicse opened #91 "Improper locking error, unlocking an inactive lock?"
Dear developers, thank you for your checking. When `Seg_exist(cf, dl_offset)==1`, should the unlock statement `PTHREAD_MUTEX_UNLOCK(&cf->w_lock);` try to unlock a lock `cf->w_lock` that is not acquired?

According to [this](https://linux.die.net/man/3/pthread_mutex_unlock),
` If a thread attempts to unlock a mutex that it has not locked or a mutex which is unlocked, undefined behavior results.`

[

[2021-09-17 20:57] fangfufu commented on #90
Sorry, I don't understand what you just wrote. Could you please re-explain what you just wrote?

[2021-09-18 00:20] MecryWork commented on #90
Add breakpoint resume function

[2021-09-18 02:26] MecryWork commented on #90
Can continue to transfer files when my network is not good

[2021-09-18 07:54] fangfufu commented on #90
Ok, I will look into it.

[2021-09-18 08:34] MecryWork commented on #90
If you want, I can submit a branch to help you fix it

[2021-09-18 08:38] fangfufu commented on #90
Yes please.

[2021-09-18 19:15] fangfufu commented on #91
I do agree this might be a problem. I assumed that the mutex would be locked when the program reaches that point of execution. Feel free to propose a fix.

[2021-09-22 02:06] MecryWork commented on #90
Please help me see, https://github.com/fangfufu/httpdirfs/pull/92

[2021-10-02 19:25] chrysn opened #93 "wishlist: Cache for directories / metadata only / small files only"
For use cases like media (think [performous](https://performous.org/), though I haven't made sure it's really beneficial there) it would be convenient to have the persistent caching store directory listings (maybe including metadata) but not the large files.

(Sure one could go to some lengths of distinguishing cache content that it pays of to cache, but with the filesystem cache also involved and

[2021-10-03 12:50] chrysn opened #94 "Trailing slash in links not preserved"
Even when the server puts a trailing slash at a directory in the link (which eg. nginx and Python3's http.server do), httpdirfs still goes for the slash-less version.

Paraphrasing a wireshark capture:
[code]

This has three downsides:

* It's a needless roundtrip, contributing a lot to usage patterns where the first slow step is when the client gets a directory tree.
* It depends on a behavior of

[2021-10-03 13:07] chrysn opened #95 "404'ing directory breaks httpdirfs"
When accessing a directory that is not there (say, because the index.html was faulty, or simply because the directory is just being deleted), httpdirfs breaks badly. To reproduce:

[code]
[code]
[code]

Once one process hangs, any other access to not previously cached content hangs too. (In the minimal example, there's nothing else to access; observed that in the more complex real scenario). As us

[2021-10-03 13:14] chrysn commented on #94
Coming back here after having filed #95, I realized that the trailing slash is the only way for httpdirfs to distinguish what's supposed to be a subdirectory and what's supposed to be a file (as even having a directory `foo` and an index.html that says `<a href="foo">...</a>` makes foo to appear as an HTML file with slightly misleading links).

If that is really the case (and I did not miss any ad

[2021-10-20 22:30] sdanfa opened #97 "httpdirfs missing mountpoint parameter, rpi 4b 64bit"
Hello,
I can't get httpdirfs to work on a raspberry pi 4b, I got it working on my desktop ubuntu but on rpi it fails. I'm mounting for example at the end of the command with "/mnt". I saw a similar issue at bug report #62
Here's the error:

print_version: HTTPDirFS version 1.2.3
print_version: libcurl SSL engine: OpenSSL/1.1.1l
see httpdirfs -h for usage
fuse: missing mountpoint parameter

[2021-10-21 22:13] fangfufu commented on #97
Your server's HTTP header does not provide content length. This software needs content length to work.

[2021-10-21 22:13] #97 closed

[2021-11-05 16:05] mariomadproductions opened #98 "Single file mode does not work on a lot of pages"
Using commit 40c750f:

Here's one example
[code]

Unless the mode is still intended for use only with apache directory listings and similar?

[2021-11-05 18:00] fangfufu commented on #98
It only works for file with range support. I probably should update the documentation stating that.

[2021-11-05 18:00] #98 closed

[2021-11-06 12:01] mariomadproductions commented on #98
Your right - that URL doesn't seem to support range requests, even though it has "accept-ranges: bytes" as a header. I wonder if that is a bug that should be reported to wikipedia (or apache, the server software that wikipedia apparently uses).

[2021-11-06 12:12] mariomadproductions opened #99 "Single File Mode does not seem to work Linux Mint 20.2 Cinnamon"
httpdirfs version: commit 40c750f
URL: https://hiddenpalace.org/w/images/4/40/Kung_Fu_Panda_%28December_7%2C_2007_prototype%29.7z
OS: Linux Mint 20.2 Cinnamon

[code]

[2021-11-06 13:23] fangfufu commented on #99
Have you unmounted the directory you are trying to mount? Please make clean, and recompile. Please ensure you use your locally compiled version, not the one that you installed in your system, because I noticed you invoked ``httpdirfs`` rather than ``./httpdirfs``

[code]

[2021-11-06 13:25] fangfufu commented on #99
If you crashed httpdirfs, you need to manually unmount the directory using ``fusermount -u $DIR``

[2021-11-06 13:54] mariomadproductions commented on #99
@fangfufu
Okay I've made sure that the installed one is the latest commit now (uninstalled via apt, installed latest commit via `sudo make install` and compared the sha256s of each copy of the binary). I've been unmounting using `sudo fusermount $DIR`, but just to make sure, I restarted the PC and mounted to a new directory, but I got the same error.

[2021-11-06 13:57] fangfufu commented on #99
You were in ``~/mnt/httpdirfs`` you try mounting it. Have you tried mounting while you are in ``~/mnt``?

Either way I couldn't reproduce it.

[2021-11-06 13:57] fangfufu commented on #99
Which distro do you use?

[2021-11-06 14:02] mariomadproductions commented on #99
Linux Mint 20.2 Cinnamon
[code]

Yeah I'm pretty puzzled too.

[2021-11-06 14:04] fangfufu commented on #99
Do other modes work?

[2021-11-06 14:06] mariomadproductions commented on #99
Yeah, e.g. `httpdirfs 'https://cdimage.debian.org/debian-cd/' httpdirfs`. I can browse tar.gz archives and even mount ISOs.

[2021-11-06 14:09] fangfufu commented on #99
That is really odd. Have you tried re-cloning the repository?

[2021-11-06 14:15] mariomadproductions commented on #99
I've already re-cloned it once or twice. Note that I've been using `make CC=gcc-10` instead of `make` to avoid this error:
[code]

[2021-11-06 14:30] fangfufu commented on #99
Why don't you get rid off the ``-fanalyzer`` flag and compile using your default compiler and see what happens?

[2021-11-06 14:43] fangfufu commented on #99
I might have to install your distro to figure out what's going on.

[2021-11-06 14:55] mariomadproductions commented on #99
I'll burn a DVD with a live image of Linux Mint 20.2 to see if it works with that, as if it does, then that would probably narrow the problem down to my configuration.

[2021-11-06 15:00] fangfufu commented on #99
Could you try if it works on this image?
https://cdimage.debian.org/debian-cd/current/amd64/iso-dvd/debian-11.1.0-amd64-DVD-1.iso

[2021-11-06 15:03] mariomadproductions commented on #99
Yes. I'll actually try both in a virtual machine. No point wasting time/DVDs.

[2021-11-06 15:07] fangfufu commented on #99
Sorry, I meant have you tried mounting that CD image using single file mode? That's the test image I typically use. I just want to rule out problem with your Internet connection, i.e. if somehow your IP got banned by the server.

[2021-11-06 15:10] mariomadproductions commented on #99
Ah okay. Tried that, works fine.

[2021-11-06 15:11] fangfufu commented on #99
What do you mean? You managed to mount the Debian CD image in Single File Mode?

[2021-11-06 15:13] mariomadproductions commented on #99
Should have clarified - yeah. Managed to mount the debian image using single file mode.

[2021-11-06 15:13] fangfufu commented on #99
I guess I could close this issue then?

[2021-11-06 15:14] mariomadproductions commented on #99
Ah no. There is still the issue with the 7z archive from https://hiddenpalace.org. It seems like that was working for you, but not me for some reason.

[2021-11-06 16:25] fangfufu commented on #99
Hmm I wonder if it is Cloudflare - it seems my software has poor compatibility with Cloudflare.

A headless Debian installation takes less than 10GB.

[2021-11-06 17:21] mariomadproductions commented on #99
Okay, will try Debian. And now that I think about it, Linux Mint should probably be max 50GB on a clean install.

[2021-11-07 17:02] mariomadproductions commented on #99
I'm getting this error when trying to build it in both linux mint (similar/same problem with expat in debian too):
[code]
I did install the dependencies listed in the readme. Don't remember how I resolved this when building it on my normal mint instllation - but maybe the required package(s) were already installed.

[2021-11-17 01:04] maysara opened #100 "arg -o should be possible after destination (mount.fuse compatability)"
trying to use httpdirfs in conjuncton with autofs , and thus mount.fuse would always pass -o options *after* the destination argument, although httpdirfs accepts the -o argumnet, but it crashes when it is used as a later argument.

[2021-11-17 16:10] fangfufu commented on #99
You don't have gcc-10 installed...

[2021-11-17 17:26] mariomadproductions commented on #99
Ah. I forgot that's not installed by default. But I get a similar error after installing (although it gets further):
[code]

[2022-04-29 18:27] jcharaoui opened #102 "Unable to mount from fstab or /bin/mount"
For some reason using httpdirfs via `/etc/fstab` or `/bin/mount` doesn't work:

[code]

[2022-04-30 00:57] fangfufu commented on #102
The way I handled mounting option is very dodgy, it definitely needs a lot of work.

[2022-06-28 01:08] nwf-msr opened #103 "getopt_long returns an int, not a char, and this matters a lot"
https://github.com/fangfufu/httpdirfs/blob/d1a10d489c4b75d74ca5431c7641529a8742e85c/src/main.c#L172 contains a tragically common and subtle error; it should be `int`, not `char`, so that the comparison to `-1` in https://github.com/fangfufu/httpdirfs/blob/d1a10d489c4b75d74ca5431c7641529a8742e85c/src/main.c#L204-L206 works portably.  As written, it is broken on Arm for example, and the compiler wil

[2022-08-11 23:49] #103 closed

[2022-08-24 08:08] ge9 opened #105 "Windows support"
I'm very interested in this software, and hope for Windows support.
I found you mentioned that you may implement this using WinFSP.
https://www.reddit.com/r/opendirectories/comments/da8lmp/would_anyone_be_interested_in_porting_httpdirfs/
I've used some other file systems for Windows using WinFSP (ex. SSHFS-Win), and they works well (sometimes we must specify `idmap=user`, `gid=0` or `umask=000` to

[2022-08-28 00:13] fangfufu commented on #91
This is definitely quite hard to fix. I had a look today, and I couldn't come up with easy solution. I think the cache system needs a completely rewrite.

[2022-09-02 09:40] mkurz commented on #62
Note for others, since it took me a while to figure out what's going on:
Just in case you are running on arm / aarch64 (e.g. Apple Silicon M1 / Asahi Linux) and run into:
`fuse: missing mountpoint parameter`
That is because the current httpdirfs release 1.2.3 is not compatible with arm / aarch64, see #103. A fix has been merged already: #104.
Here is a workaround for Arch Linux users, until a new

[2022-09-02 09:41] mkurz commented on #97
Note for others, since it took me a while to figure out what's going on:
Just in case you are running on arm / aarch64 (e.g. Apple Silicon M1 / Asahi Linux) and run into:
`fuse: missing mountpoint parameter`
That is because the current httpdirfs release 1.2.3 is not compatible with arm / aarch64, see #103. A fix has been merged already: #104.
Here is a workaround for Arch Linux users, until a new

[2022-09-22 17:57] rdelaage commented on #56
Hi I am interested in this issue and to help you. I have run the program in debug mode and nothing seems to be abnormal

[code]

The problem is not only on the root but also in some subfolders

[2022-09-23 04:48] rdelaage commented on #56
After some debugging, I think that the problem occurs when you have dots or /. I will file a new issue

[2022-10-19 01:08] mahfuzullah opened #107 "Support for h5ai(HTML5 Apache Index) directory listing"
h5ai (https://github.com/lrsjng/h5ai) is a file indexer/directory listing that is intended as a update of Apache DirectoryIndex, you can use it to read pdf/play mp3 on browser, etc etc.

a directory that i regularly mount using httpdirfs just updated to h5ai, but unfortunately httpdirfs does not support h5ai yet...

[2022-10-19 18:47] mahfuzullah commented on #107
the main difference between h5ai and Apache directory listing is instead of "/.." h5 uses "parent directory" which causes some sort of parsing error.

here's a demo site for replicating this behavior https://larsjung.de/h5ai/demo/

![image](https://user-images.githubusercontent.com/7601631/196777145-d7aea962-f3ca-4893-b943-b7fef91101bb.png)

[2022-11-01 00:08] nwf opened #108 "Add `--cacert` option like `curl`'s frontend"
SSL clients are always a real headache, sigh.  Anyway, I find myself wanting to use `httpdirfs` with a self-signed cert that, for elaborate reasons, I cannot add to the system trust bundle.  It looks like `libcurl` cannot fetch the bundle's location from the environment, so it would be nice to have a `--cacert` option that set the `CURLOPT_CAINFO` option to `libcurl`, like the `curl` frontend tool

[2022-11-02 08:19] #108 closed

[2022-11-06 21:52] fangfufu commented on #56
Reopening the issue because now I have a docker image provided by @rdelaage for testing.

[2022-11-06 23:31] fangfufu commented on #105
I don't really have any motivation to develop this for Windows, hence I made the post. If anyone wants to port this to Windows. I am more than happy to help.

[2022-11-06 23:46] fangfufu commented on #56
Close via e6b5688e45e20d052b62330edca3a68f68b5063a

[2022-11-06 23:46] #56 closed

[2022-11-06 23:52] fangfufu commented on #99
@mariomadproductions , could you try and see if this problem is still reproducible, now https://github.com/fangfufu/httpdirfs/pull/104 is merged in.

[2022-11-07 00:29] fangfufu commented on #94
Yes, this is one of the mechanism.

[2022-11-07 00:48] fangfufu commented on #107
Oh what you described is not a problem. The actual problem is that with h5ai, all the links start with ``/``, HTTPDirFS assumes that no link starts with '/', and it uses the ``href`` attribute as the filename, rather than the text associated wit the ``a`` tag.

[2022-11-07 11:51] mariomadproductions commented on #99
Hi. I've built the latest commit (e6b5688) on Linux Mint 21. Here's the result of the command:
[code]
~/mnt/httpdirfs is empty

[2022-11-22 06:51] kaustubhk24 opened #110 "LinkTable_print(): Invalid link count: 0, h"
root@dm-$  httpdirfs -f  http://103.xx.xxx.xx/Data/ test
--------------------------------------------
 LinkTable 0x55c7082c4620 for http://103.xx.xxx.xx/Data/
--------------------------------------------
0 H 0  http://103.xx.xxx.xx/Data/
1 D 0 3D http://103.xx.xxx.xx/Data/3D
2 D 0 Games http://103.xx.xxx.xx/Data/Games
3 D 0 Hindi http://103.xx.xxx.xx/Data/Hindi
4 D 0 Movies http://103.xx.xxx.xx/Da

[2022-11-22 22:28] fangfufu commented on #110
You are not providing enough information, and you are not providing me access to your server for debugging purposes.

[2022-11-22 22:28] #110 closed